    <br/> <br/>
    <br/> <br/>
    <br/> <br/>
    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <p>
                This is a final sem project made by: <br/>
                M Karthik Vijay (106112054) <br/>
                Rahul Ramchand (106112076) <br/>
                Sriram Sundarraj (106112091) <br/>
                Project Guide: Dr. S. Mary Saira Bhanu <br/>    
            </p>
        </div>
    </div>
</body>
</html>