<html>
<head>
    <link rel="stylesheet" type="text/css" href="vendor/semantic.min.css">
    <script src="vendor/jquery-2.2.3.min.js"></script>
    <script src="vendor/semantic.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="index.html" class="header item">SnowFlakeSSSHHHH</a>
            <a href="account.html" class="item">Your Account</a>
            <a href="#" class="item" onclick="logoutUser();">Logout </a>
        </div>
    </div>
    <br/>